In [109]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

data_csv = 'data/training_data_20171002_no_job_description.csv'

df = pd.read_csv(data_csv)

In [110]:
df.head()

,Id,Title,LocationNormalized,ContractTime,SalaryNormalized,latitude,longitude,country,Birmingham_onehot,Glasgow_onehot,...,citrix_onehot,tsql_onehot,ssis_onehot,ruby_onehot,sas_onehot,ssrs_onehot,python_onehot,seo_onehot,tcp_onehot,css3_onehot
0,69974398,Technical Support Supervisor,abbots langley,permanent,25000,51.706638,-0.417807,england,0,0,...,0,0,1,0,0,0,0,0,0,0
1,71084222,"Workshop Technician, Hertfordshire, Motor Trad...",abbots langley,permanent,23000,51.706638,-0.417807,england,0,0,...,0,0,0,0,0,0,0,0,0,0
2,67619031,Mechanical Design Engineer,aberaeron,permanent,35000,52.243177,-4.260015,wales,0,0,...,0,0,0,0,0,0,0,0,0,0
3,69894639,Software Team Lead Critical safety/ C,aberaeron,permanent,55000,52.243177,-4.260015,wales,0,0,...,0,0,1,0,0,0,0,0,0,0
4,71525354,Mechanical Design Engineer,aberaeron,permanent,35000,52.243177,-4.260015,wales,0,0,...,0,0,0,0,0,0,0,0,0,0

In [111]:
# from wordcloud import WordCloud, STOPWORDS
# from PIL import Image

# stopwords = set(STOPWORDS)
# add_stopwords = ["London"]
# title_column = df['Title']
# for sw in add_stopwords:
#     stopwords.add(sw)
    
# square_mask = np.array(Image.open("square.jpg"))
# # Generate a word cloud image
# wordcloud = WordCloud(max_font_size=60, max_words=66931, mask=square_mask, stopwords=stopwords) \
#     .generate(title_column.to_string())
# print(len(title_column.to_string()))
# wordcloud.to_file("square1.jpg")   
# # Display the generated image the matplotlib way:
# plt.imshow(wordcloud, interpolation='bilinear')
# plt.axis("off")
# plt.rcParams["figure.figsize"] = [20,20]
# plt.figure()
# plt.show()

In [112]:
# Define a few useful functions

# the first 10 from a generator, returned as a list
def hd(g, n=10):
    return list( it.islice(g, n))

# convert a pandas column to a good old generator
def columnToGen(c):    
    for x in c.values:
        yield x

In [113]:
# In the next few cells, we identify the ten most common words in the 'Title'
from collections import defaultdict
import itertools as it

title_word_frequency = defaultdict(int)
title_words=it.chain.from_iterable(x.tolist()[0].lower().split() for x in df[['Title']].values)
title_words = it.chain(title_words)
for tw in title_words:
    title_word_frequency[tw] = title_word_frequency[tw] + 1

In [114]:
# works that appear a lot, but I think are probably boring
discarded_words = set(['****','/','de','to','****k','c','it','london','business'])

In [115]:
# Finally print the top ten words

top10 = hd(sorted(list(((v, k) for k, v in title_word_frequency.items() if k not in discarded_words)), reverse=True))
for top in top10:
    print(top)
top10words = list(v for k,v in top10)
print(top10words)

(11152, 'developer')
(5438, 'engineer')
(4361, 'analyst')
(4219, 'manager')
(3888, 'senior')
(3728, 'software')
(3309, 'support')
(2537, 'web')
(2164, 'consultant')
(2014, 'net')
['developer', 'engineer', 'analyst', 'manager', 'senior', 'software', 'support', 'web', 'consultant', 'net']

In [120]:
# Create 10 binary columns in the data
# i.e. create a 'contains_developer' column, containing 'True' or
# 'False' depending on whether 'developer' appears in the 'Title' field.
# Case insensitive

for top10 in top10words:  
    df.loc[(df['Title'].str.lower().str.contains(top10)), 'Title'] = top10

df.loc[(df['Title'].str.lower() != 'developer') & \
       (df['Title'].str.lower() != 'engineer') & \
       (df['Title'].str.lower() != 'analyst') & \
       (df['Title'].str.lower() != 'manager') & \
       (df['Title'].str.lower() != 'senior') & \
       (df['Title'].str.lower() != 'developer') & \
       (df['Title'].str.lower() != 'software') & \
       (df['Title'].str.lower() != 'support') & \
       (df['Title'].str.lower() != 'web') & \
       (df['Title'].str.lower() != 'consultant') & \
       (df['Title'].str.lower() != 'net'), 'Title'] = 'other'
df.head()

,Id,Title,LocationNormalized,ContractTime,SalaryNormalized,latitude,longitude,country,Birmingham_onehot,Glasgow_onehot,...,citrix_onehot,tsql_onehot,ssis_onehot,ruby_onehot,sas_onehot,ssrs_onehot,python_onehot,seo_onehot,tcp_onehot,css3_onehot
0,69974398,support,abbots langley,permanent,25000,51.706638,-0.417807,england,0,0,...,0,0,1,0,0,0,0,0,0,0
1,71084222,other,abbots langley,permanent,23000,51.706638,-0.417807,england,0,0,...,0,0,0,0,0,0,0,0,0,0
2,67619031,engineer,aberaeron,permanent,35000,52.243177,-4.260015,wales,0,0,...,0,0,0,0,0,0,0,0,0,0
3,69894639,software,aberaeron,permanent,55000,52.243177,-4.260015,wales,0,0,...,0,0,1,0,0,0,0,0,0,0
4,71525354,engineer,aberaeron,permanent,35000,52.243177,-4.260015,wales,0,0,...,0,0,0,0,0,0,0,0,0,0

In [126]:
# map job descriptions to 
# Get dictionary of unique areas
title = set(df['Title'])
print(len(title))
title_dict = {x:float(i) for i,x in enumerate(title)}
df['Title'] = df['Title'].map(title_dict)

locationNormalized = set(df['LocationNormalized'])
locationNormalized_dict = {x:float(i) for i,x in enumerate(locationNormalized)}
df['LocationNormalized'] = df['LocationNormalized'].map(locationNormalized_dict)

ContractTime = set(df['ContractTime'])
ContractTime_dict = {x:float(i) for i,x in enumerate(ContractTime)}
df['ContractTime'] = df['ContractTime'].map(ContractTime_dict)

country = set(df['country'])
country_dict = {x:float(i) for i,x in enumerate(country)}
df['country'] = df['country'].map(country_dict)

11

In [127]:
df.head()

,Id,Title,LocationNormalized,ContractTime,SalaryNormalized,latitude,longitude,country,Birmingham_onehot,Glasgow_onehot,...,citrix_onehot,tsql_onehot,ssis_onehot,ruby_onehot,sas_onehot,ssrs_onehot,python_onehot,seo_onehot,tcp_onehot,css3_onehot
0,69974398,3.0,995.0,1.0,25000,51.706638,-0.417807,2.0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,71084222,10.0,995.0,1.0,23000,51.706638,-0.417807,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,67619031,1.0,199.0,1.0,35000,52.243177,-4.260015,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,69894639,0.0,199.0,1.0,55000,52.243177,-4.260015,1.0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,71525354,1.0,199.0,1.0,35000,52.243177,-4.260015,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
df.to_csv("data/training_data_20171014_numbers_only_2.csv", index=False)

In [131]:
pd.read_csv("data/training_data_20171014_numbers_only_2.csv")

,Id,Title,LocationNormalized,ContractTime,SalaryNormalized,latitude,longitude,country,Birmingham_onehot,Glasgow_onehot,...,citrix_onehot,tsql_onehot,ssis_onehot,ruby_onehot,sas_onehot,ssrs_onehot,python_onehot,seo_onehot,tcp_onehot,css3_onehot
0,69974398,3.0,995.0,1.0,25000,51.706638,-0.417807,2.0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,71084222,10.0,995.0,1.0,23000,51.706638,-0.417807,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,67619031,1.0,199.0,1.0,35000,52.243177,-4.260015,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,69894639,0.0,199.0,1.0,55000,52.243177,-4.260015,1.0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,71525354,1.0,199.0,1.0,35000,52.243177,-4.260015,1.0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,68509706,3.0,997.0,1.0,22958,51.713353,-3.445555,1.0,1,0,...,0,0,0,0,0,0,0,0,0,0
6,64130329,6.0,583.0,1.0,40000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,64796854,6.0,583.0,0.0,86400,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,65171361,6.0,583.0,1.0,35000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,65437063,6.0,583.0,0.0,70800,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,66350809,2.0,583.0,0.0,36000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,66378071,1.0,583.0,0.0,81000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,66378075,10.0,583.0,1.0,40000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,66378077,10.0,583.0,1.0,60000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,66434749,10.0,583.0,1.0,80000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,66434781,10.0,583.0,1.0,45000,57.145245,-2.091375,4.0,0,0,...,0,0,1,0,0,0,0,0,0,0
16,66578589,10.0,583.0,1.0,100000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,66578590,1.0,583.0,1.0,40000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,66578619,10.0,583.0,1.0,80000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,66784767,1.0,583.0,1.0,55000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,67005120,2.0,583.0,1.0,42500,57.145245,-2.091375,4.0,0,0,...,0,0,1,0,0,0,0,1,0,0
21,67244646,3.0,583.0,0.0,54000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,67288710,1.0,583.0,1.0,80000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,67288715,7.0,583.0,1.0,60000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,67443721,3.0,583.0,1.0,18837,57.145245,-2.091375,4.0,0,0,...,0,0,1,0,0,0,0,0,0,0
25,67618189,10.0,583.0,1.0,70000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,67618208,1.0,583.0,1.0,60000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,67618345,1.0,583.0,1.0,65000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,67618979,10.0,583.0,1.0,62000,57.145245,-2.091375,4.0,0,0,...,0,0,1,0,0,0,0,0,0,0
29,67619559,7.0,583.0,1.0,55000,57.145245,-2.091375,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38453,71679291,6.0,950.0,1.0,35000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38454,71679309,6.0,950.0,1.0,25000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38455,71708466,2.0,950.0,1.0,32000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38456,71759896,4.0,950.0,1.0,47500,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38457,71772898,7.0,950.0,1.0,28000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38458,71774345,8.0,950.0,1.0,60000,53.993914,-0.467097,2.0,0,0,...,0,1,1,0,1,1,0,0,0,0
38459,71774661,1.0,950.0,1.0,40000,53.993914,-0.467097,2.0,0,0,...,0,0,1,0,0,0,0,0,0,0
38460,71834113,10.0,950.0,1.0,15000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38461,71834245,6.0,950.0,1.0,47500,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38462,71902669,2.0,950.0,1.0,42500,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38463,71902762,2.0,950.0,0.0,22000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38464,71902780,1.0,950.0,0.0,43750,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38465,71947425,10.0,950.0,1.0,65000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38466,72127190,6.0,950.0,1.0,30000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,1
38467,72160542,5.0,950.0,1.0,40000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38468,72160677,6.0,950.0,1.0,20000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38469,72161103,6.0,950.0,1.0,35000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38470,72346144,1.0,950.0,1.0,40000,53.993914,-0.467097,2.0,0,0,...,1,0,0,0,0,0,0,0,0,0
38471,72372527,1.0,950.0,1.0,32000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,1,0,0,0,1,0
38472,72372678,3.0,950.0,0.0,21120,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38473,72372743,2.0,950.0,0.0,84000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38474,72372811,2.0,950.0,1.0,40000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38475,72372835,1.0,950.0,1.0,32500,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38476,72372867,10.0,950.0,0.0,42000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38477,72372914,6.0,950.0,0.0,66000,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38478,72373554,10.0,950.0,0.0,27840,53.993914,-0.467097,2.0,0,0,...,1,0,0,0,0,0,0,0,0,0
38479,72400839,6.0,950.0,1.0,37500,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38480,72547603,4.0,950.0,1.0,47500,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,0,0
38481,72578110,8.0,950.0,1.0,42500,53.993914,-0.467097,2.0,0,0,...,0,0,1,0,0,0,0,0,0,0
38482,72578599,10.0,950.0,1.0,37500,53.993914,-0.467097,2.0,0,0,...,0,0,0,0,0,0,0,0,1,0